@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&display=swap");

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto !important;
}

.institucional-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 117px;
  width: 1280px;
}

.institucional-titulo {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: "Arimo", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 124px 0 50px;
}
