@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.container-copyright {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  height: 65px;
  background-color: #585858;
}

.copyright-paragrafo {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #ffffff;
}

.wrapper-copyright-paragrafo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 234px;

  margin-left: 32px;
}

.wrapper-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 13px;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 13px;
  border-right: 1px solid #c4c4c4;
  padding-right: 13px;
}

.wrapper-logo-m3vtex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 32px;
}
