@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.page-header {
  background-color: #00c8ff;
  font-family: "roboto", sans-serif;
}

.page-header-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: 76px;
}

.page-heade-container-input {
  display: flex;
  justify-content: center;
}

.header-logo {
  margin: 18px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header-container-input {
  display: flex;
  justify-content: center;
}

.input-content {
  display: flex;
  justify-content: end;
  max-width: 264px;
  width: 100%;
  height: 32px;
  background-color: white;
  border: 2px solid;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
}

.header-input {
  width: 100%;
  padding: 0 12px;
  outline: none;
  color: #000000;
  background: transparent;
  border: none;
}

.header-input:focus {
  box-shadow: none;
}

.header-input::placeholder {
  color: #cbc8c8;
}

.header-input-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background: transparent;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  padding-right: 7px;
}

.header-container-usuario {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-loguin-loguin {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.header-img-carrinho {
  padding: 0 40px;
}
