@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.header-menu-container {
  display: grid;
  grid-template-columns: 1fr 3.4fr;
  background: #00c8ff;
  border-top: 1px solid #03bffe;
  height: 45px;
}

.header-menu-nav-cursos {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffff;
  text-transform: uppercase;
  text-decoration: none;
}

.header-menu-nav-saibamais {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffff;
  text-transform: uppercase;
  text-decoration: none;
}

.header-menu-content {
  display: flex;
  grid-column-gap: 140px;
  margin-left: auto;
}

.header-menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
