.container-card-paragraph-troca {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  max-width: 715px;
  width: 100%;
  height: 223px;
  line-height: 15.23px;
  margin-left: 32px;
}

.card-paragraph-title-troca {
  color: #292929;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}
