.container-newsletter {
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e7e7e7;
}

.container-newsletter {
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e7e7e7;
}

.container-input label {
  display: flex;
  color: #303030;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  margin-bottom: 5px;
}

.container-input input {
  width: 342px;
  height: 42px;
  border-radius: 4px;
  padding-left: 16px;
  outline: 0;
  border: 1px solid #e5e5e5;
}

.container-input input:focus {
  border-color: #00c8ff;
}

.container-input::placeholder {
  color: #c4c4c4;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}

.newsletter-input-button {
  width: 126px;
  height: 42px;
  background-color: #00c8ff;
  border: 1px solid #00c8ff;
  border-radius: 4px;

  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 7px;
  cursor: pointer;
  transition: linear 250ms;

  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}

.newsletter-input-button:hover {
  background-color: #ffffff;
  color: #00c8ff;
}

.contact-wrapper {
  position: absolute;
  top: -22px;
  left: 0;
  z-index: 0;
  padding-right: 14px;
  width: 100%;
  height: 70px;
}

.contact-icons {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.img-whatsapp {
  width: 34px;
  height: 34px;
  margin-bottom: 12px;
}

.btn-seta {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

.align-end {
  justify-content: flex-end;
}
