@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.form-wrapper {
  max-width: 390px;
  width: 100%;
  height: 700px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-left: 100px;
  margin-bottom: 117px;
}

.form-titulo {
  max-width: 342px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-input input {
  max-width: 390px;
  width: 100%;
  height: 48px;
  outline: 0px;
  border: 1px solid #100d0e;
  border-radius: 25px;
  padding-left: 28px;
  color: #100d0e;
}

.form-input label {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 13px 0 13px 15px;
}

.form-input ::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #b9b7b7;
}

.form-input input:focus {
  border: solid 1px #6495ed;
}

.form-input input.invalid {
  border-color: #fe0303;
}

.form-invalid-feedback {
  position: absolute;
  padding-left: 14px;
  bottom: -15px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #fe0303;
}

.form-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
  position: relative;
}

.form-checkbox-container input {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  border-radius: 3px;
}

.acceptTerms {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.form-checkbox-alert {
  color: #03bffe;
}

.form-submit {
  max-width: 390px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
}

.form-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  width: 391px;
  height: 52px;
  border: 1px solid #03bffe;
  border-radius: 25px;
  outline: 0;
  background-color: #03bffe;
  margin-top: 21px;
  cursor: pointer;
  transition: ease-in-out 500ms;
}

.form-button:hover {
  background-color: #65aabe;
}
