.btn-card-container {
  display: flex;
  flex-direction: column;
  max-width: 285px;
  width: 100%;
  height: 243px;
  border-right: 1px solid #e5e5e5;
  line-height: 45px;
  margin-left: 118px;
}

.btn-card-sobre {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-sobre:hover {
  background-color: #ade3f1;
  color: #ffffff;
}

.btn-card-sobre:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-forma-de-pagamento {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-forma-de-pagamento:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-forma-de-pagamento:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-entrega {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-entrega:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-entrega:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-troca-e-devolucao {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-troca-e-devolucao:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-troca-e-devolucao:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-seguranca-e-privacidade {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-seguranca-e-privacidade:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-seguranca-e-privacidade:focus {
  background-color: #00c8ff;
  color: #ffffff;
}

.btn-card-contato {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 40px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-card-contato:hover {
  color: #ffffff;
  background-color: #ade3f1;
}

.btn-card-contato:focus {
  background-color: #00c8ff;
  color: #ffffff;
}
