@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap");

.wrapper-informacoes {
  height: 200px;
  border-top: 1px solid #e7e7e7;
}

.container-informacoes {
  display: flex;
  justify-content: center;
}

.wrapper-link-pages {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  margin-top: 25px;
  line-height: 30px;
}

.wrapper-link-pages h1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.wrapper-link-pages h2 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.wrapper-link-pages p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.wrapper-midias {
  margin: 25px 0 0 133px;
}

.wrapper-midias p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;

  margin-top: 10px;
}

.img-instagram {
  margin: 0 10px;
}

.img-youtube {
  margin: 0 10px;
}
